In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.options.display.float_format = '{:.2f}'.format

In [3]:
np.set_printoptions(precision=1)

In [7]:
x1=np.random.rand(2,5)*10
x1

array([[4.4, 2.7, 9.6, 8. , 9.7],
       [7.6, 7.1, 8. , 9.9, 8.5]])

In [5]:
x2=np.random.rand(2,5)*-1
x2

array([[-0.6, -0.8, -0.6, -0.8, -0.2],
       [-0.5, -0.1, -0.9, -0.1, -0.5]])

In [14]:
concate=np.concatenate([x1,x2],axis=1)

In [16]:
concate.shape

(2, 10)

In [18]:
s1=pd.Series(x1[0],index=['a','b','c','d','e'])
s1

a   4.44
b   2.71
c   9.60
d   8.03
e   9.72
dtype: float64

In [19]:
s2=pd.Series(x2[0],index=['c','d','e','f','g'])
s2

c   -0.61
d   -0.84
e   -0.57
f   -0.76
g   -0.19
dtype: float64

In [21]:
pd.concat([s1,s2],axis=1)

     0     1
a 4.44   NaN
b 2.71   NaN
c 9.60 -0.61
d 8.03 -0.84
e 9.72 -0.57
f  NaN -0.76
g  NaN -0.19

In [22]:
s1.reset_index(drop=True)

0   4.44
1   2.71
2   9.60
3   8.03
4   9.72
dtype: float64

In [34]:
df1=pd.DataFrame(np.random.rand(3,2)*10,columns=['a','b'],index=[0,1,2])
df1

     a    b
0 8.60 9.33
1 9.27 6.77
2 5.02 4.85

In [35]:
df2=pd.DataFrame(np.random.rand(3,2)*-1,columns=['a','b'],index=[2,3,4])
df2

      c     d
2 -0.78 -0.67
3 -0.83 -0.86
4 -0.94 -0.64

In [36]:
pd.concat([df1,df2])

     a    b     c     d
0 8.60 9.33   NaN   NaN
1 9.27 6.77   NaN   NaN
2 5.02 4.85   NaN   NaN
2  NaN  NaN -0.78 -0.67
3  NaN  NaN -0.83 -0.86
4  NaN  NaN -0.94 -0.64